@media screen and (max-width: 1080px) {
    header {
      padding: 20px 70px;
    }
  
    nav.navbar img.logo {
      width: 80%;
    }
  
    nav.navbar .nav-links {
      padding: 15px 30px;
      gap: 50px;
    }
  
    .nav-links li a {
      font-size: 12px;
    }
  
    .nav-cta {
      font-size: 12px;
      padding: 10px;
    }
    .nav-cta img {
      width: 20px;
    }
  
    .hero-text h1 {
      font-size: 120px;
    }
    .hero-text p {
      font-size: 20px;
      line-height: 30px;
    }
    .header-text {
      font-size: 40px;
      line-height: 40px;
    }
    .parent {
      grid-template-columns: repeat(2, 1fr);
    }
    form {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 997px) {
    .header-text {
      top: 10%;
    }
    .nav-links,
    .nav-cta {
      display: none !important;
    }
  
    .toggle_btn {
      display: block;
    }
    section.hero {
      height: 110vh;
    }
    .hero-text h1 {
      font-size: 95px;
    }
    .hero-text p {
      font-size: 20px;
      line-height: 20px;
    }
    .hero-text-2 h2 {
      font-size: 25px;
    }
    .header-text {
      font-size: 30px;
      line-height: 30px;
    }
    .video-section {
      height: 80vh;
    }
    .box {
      width: 350px;
    }
    .project-tabs button.tab {
      font-size: 15px;
      padding: 10px;
    }
    footer {
      flex-direction: column;
      padding: 20px;
      gap: 50px;
    }
  }
  
  @media screen and (max-width: 576px) {
    header {
      padding: 20px;
    }
    .header-text {
      top: 5%;
      font-size: 25px;
      line-height: 30px;
    }
    .hero-text-2 {
      bottom: -70%;
    }
    .logo {
      width: 80%;
    }
    .hero-text h1 {
      font-size: 50px;
      line-height: 80px;
    }
    .hero-text p {
      font-size: 13px;
      line-height: 0px;
    }
    .hero-text-2 h2 {
      font-size: 17px;
    }
    .hero-text-2 h3 {
      font-size: 15px;
      line-height: 45px;
    }
    .parent {
      grid-template-columns: repeat(1, 1fr);
    }
    section.project-section {
      height: 80vh;
    }
    .row {
      flex-direction: column; /* Stack inputs vertically */
    }
    form {
      padding: 0;
      margin-top: 20px !important;
      width: 300px !important;
    }
    .d-none {
      display: none; 
    }
  }
  
  @media screen and (max-width: 350px) {
    .header-text {
      font-size: 20px;
      line-height: 30px;
    }
    .dropdown-menu {
      right: 0.5rem;
    }
    section.hero {
      height: 75vh;
    }
    .hero-text h1 {
      font-size: 40px;
      line-height: 50px;
    }
    .hero-text p {
      font-size: 10px;
      line-height: 0px;
    }
    .hero-text-2 h2 {
      font-size: 15px;
    }
    .hero-text-2 h3 {
      font-size: 13px;
      line-height: 35px;
    }
    section.video-section {
      height: 60vh;
    }
    .box {
      width: 300px;
    }
  }